.idea/
venv/

build/
demo-build/
doc-build/
dff_sphinx_theme/
demo/docs/examples/
dist/

**/*.egg-info/
**/node_modules/

yarn.lock
package-lock.json
demo/requirements-lock.txt
demo/requirements-lock.txt
