<div class="mobile-main-menu">
    <div class="container-fluid">
        <div class="container header-holder-mobile">
            <div class="mobile-main-menu-header-container">
                <a class="header-logo" href="{{ pathto('intro_dff/index') }}" aria-label="PyTorch"></a>
                <a class="main-menu-close-button" href="#" data-behavior="close-mobile-menu"></a>
            </div>
        </div>
    </div>

    <div class="mobile-main-menu-links-container">
        <div class="main-menu">
            <ul>
                <li class="resources-mobile-menu-title {%- if theme_tab_intro_dff == './' or theme_tab_intro_addons == './' or theme_tab_intro_designer == './' %} active{%- endif %}">
                    Intro
                </li>

                <ul class="resources-mobile-menu-items">
                    <li>
                        <a href="{{ theme_tab_intro_dff }}">
                            <span class="dropdown-title {%- if theme_tab_intro_dff == './' %} active{% endif %}">Dialog Flow Framework</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ theme_tab_intro_addons }}">
                            <span class="dropdown-title {%- if theme_tab_intro_addons == './' %} active{% endif %}">Addons</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ theme_tab_intro_designer }}">
                            <span class="dropdown-title {%- if theme_tab_intro_designer == './' %} active{% endif %}">Designer</span>
                        </a>
                    </li>
                </ul>

                <li {%- if theme_tab_get_started == './' %} class="active"{% endif %}>
                    <a href="{{ theme_tab_get_started }}">Get Started</a>
                </li>

                <li {%- if theme_tab_tutorials == './' %} class="active"{% endif %}>
                    <a href="{{ theme_tab_tutorials }}">Tutorials</a>
                </li>

                <li {%- if theme_tab_documentation == './' %} class="active"{% endif %}>
                    <a href="{{ theme_tab_documentation }}">Documentation</a>
                </li>

                <li {%- if theme_tab_ecosystem == './' %} class="active"{% endif %}>
                    <a href="{{ theme_tab_ecosystem }}">Ecosystem</a>
                </li>

                <li class="resources-mobile-menu-title {%- if theme_tab_about_us == './' %} active{%- endif %}">
                    About
                </li>

                <ul class="resources-mobile-menu-items">
                    <li>
                        <a href="{{ theme_tab_about_us }}">
                            <span class="dropdown-title {%- if theme_tab_about_us == './' %} active{% endif %}">About Us</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ theme_variables.external_urls['forums'] }}">
                            <span class="dropdown-title">Forums</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ theme_variables.external_urls['discuss'] }}">
                            <span class="dropdown-title">Telegram</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ theme_variables.external_urls['github'] }}">
                            <span class="dropdown-title">GitHub</span>
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>
