<div class="container-fluid header-holder" id="header-holder">
    <div class="header-logo-container">
        <a class="header-logo" href="{{ pathto('intro_dff/index') }}" aria-label="PyTorch"></a>
    </div>

    <div class="container">
        <div class="header-container">
            <div class="main-menu">
                <ul>
                    <li {%- if theme_tab_intro_dff == './' or theme_tab_intro_addons == './' or theme_tab_intro_designer == './' %} class="active"{% endif %}>
                        <div id="resourcesDropdownButton" data-toggle="resources-dropdown" class="resources-dropdown">
                            <a class="resource-option with-down-orange-arrow">Intro</a>
                            <div class="resources-dropdown-menu">
                                <a class="doc-dropdown-option nav-dropdown-item" href="{{ theme_tab_intro_dff }}">
                                    <span class="dropdown-title {%- if theme_tab_intro_dff == './' %} active{% endif %}">Dialog Flow Framework</span>
                                </a>
                                <a class="doc-dropdown-option nav-dropdown-item" href="{{ theme_tab_intro_addons }}">
                                    <span class="dropdown-title {%- if theme_tab_intro_addons == './' %} active{% endif %}">Addons</span>
                                </a>
                                <a class="doc-dropdown-option nav-dropdown-item" href="{{ theme_tab_intro_designer }}">
                                    <span class="dropdown-title {%- if theme_tab_intro_designer == './' %} active{% endif %}">Designer</span>
                                </a>
                            </div>
                        </div>
                    </li>

                    <li {%- if theme_tab_get_started == './' %} class="active"{% endif %}>
                        <a href="{{ theme_tab_get_started }}">Get Started</a>
                    </li>

                    <li {%- if theme_tab_tutorials == './' %} class="active"{% endif %}>
                        <a href="{{ theme_tab_tutorials }}">Tutorials</a>
                    </li>

                    <li {%- if theme_tab_documentation == './' %} class="active"{% endif %}>
                        <a href="{{ theme_tab_documentation }}">Documentation</a>
                    </li>

                    <li {%- if theme_tab_ecosystem == './' %} class="active"{% endif %}>
                        <a href="{{ theme_tab_ecosystem }}">Ecosystem</a>
                    </li>

                    <li {%- if theme_tab_about_us == './' %} class="active"{% endif %}>
                        <div id="resourcesDropdownButton" data-toggle="resources-dropdown" class="resources-dropdown">
                            <a class="resource-option with-down-orange-arrow">About</a>
                            <div class="resources-dropdown-menu">
                                <a class="doc-dropdown-option nav-dropdown-item" href="{{ theme_tab_about_us }}">
                                    <span class="dropdown-title {%- if theme_tab_about_us == './' %} active{% endif %}">About Us</span>
                                </a>
                                <a class="doc-dropdown-option nav-dropdown-item" href="{{ theme_variables.external_urls['forums'] }}">
                                    <span class="dropdown-title">Forums</span>
                                </a>
                                <a class="doc-dropdown-option nav-dropdown-item" href="{{ theme_variables.external_urls['discuss'] }}">
                                    <span class="dropdown-title">Telegram</span>
                                </a>
                                <a class="doc-dropdown-option nav-dropdown-item" href="{{ theme_variables.external_urls['github'] }}">
                                    <span class="dropdown-title">GitHub</span>
                                </a>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>

            <a class="main-menu-open-button" href="#" data-behavior="open-mobile-menu"></a>
        </div>
    </div>
</div>
