{% set display_tab = pagename.split('/')[0] %}

<div class="mobile-main-menu">
    <div class="container-fluid">
        <div class="container header-holder-mobile">
            <div class="mobile-main-menu-header-container">
                <a class="header-logo" href="{{ pathto('intro_dff/index') }}" aria-label="PyTorch"></a>
                <a class="main-menu-close-button" href="#" data-behavior="close-mobile-menu"></a>
            </div>
        </div>
    </div>

    <div class="mobile-main-menu-links-container">
        <div class="main-menu">
            <ul>
                <li class="resources-mobile-menu-title" {%- if 'intro' in display_tab %} class="active"{%- endif %}>
                    Intro
                </li>

                <ul class="resources-mobile-menu-items">
                    <li>
                        <a href="{%- if display_tab == 'intro_dff' %}#{% else %}{{ pathto('intro_dff/index') }}{% endif %}">
                            <span class="dropdown-title {%- if display_tab == 'intro_dff' %} active{% endif %}">Dialog Flow Framework</span>
                        </a>
                    </li>

                    <li>
                        <a href="{%- if display_tab == 'intro_addons' %}#{% else %}{{ pathto('intro_addons/index') }}{% endif %}">
                            <span class="dropdown-title {%- if display_tab == 'intro_addons' %} active{% endif %}">Addons</span>
                        </a>
                    </li>

                    <li>
                        <a href="{%- if display_tab == 'intro_designer' %}#{% else %}{{ pathto('intro_designer/index') }}{% endif %}">
                            <span class="dropdown-title {%- if display_tab == 'intro_designer' %} active{% endif %}">Designer</span>
                        </a>
                    </li>
                </ul>

                <li {%- if display_tab == 'get_started' %} class="active"{% endif %}>
                    <a href="{%- if display_tab == 'get_started' %}#{% else %}{{ pathto('get_started/index') }}{% endif %}">Get Started</a>
                </li>

                <li {%- if display_tab == 'tutorials' %} class="active"{% endif %}>
                    <a href="{%- if display_tab == 'tutorials' %}#{% else %}{{ pathto('tutorials/index') }}{% endif %}">Tutorials</a>
                </li>

                <li {%- if display_tab == 'documentation' %} class="active"{% endif %}>
                    <a href="{%- if display_tab == 'documentation' %}#{% else %}{{ pathto('documentation/index') }}{% endif %}">Documentation</a>
                </li>

                <li {%- if display_tab == 'ecosystem' %} class="active"{% endif %}>
                    <a href="{%- if display_tab == 'ecosystem' %}#{% else %}{{ pathto('ecosystem/index') }}{% endif %}">Ecosystem</a>
                </li>

                <li class="resources-mobile-menu-title" {%- if 'about' in display_tab %} class="active"{%- endif %}>
                    About
                </li>

                <ul class="resources-mobile-menu-items">
                    <li>
                        <a href="{%- if display_tab == 'about_us' %}#{% else %}{{ pathto('about_us/index') }}{% endif %}">
                            <span class="dropdown-title {%- if display_tab == 'about_us' %} active{% endif %}">About Us</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ theme_variables.external_urls['forums'] }}">
                            <span class="dropdown-title">Forums</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ theme_variables.external_urls['discuss'] }}">
                            <span class="dropdown-title">Telegram</span>
                        </a>
                    </li>

                    <li>
                        <a href="{{ theme_variables.external_urls['github'] }}">
                            <span class="dropdown-title">GitHub</span>
                        </a>
                    </li>
                </ul>
            </ul>
        </div>
    </div>
</div>
