{%- set external_urls = {
    'github': 'https://github.com/deeppavlov/dialog_flow_framework',
    'github_issues': 'https://github.com/deeppavlov/dialog_flow_framework/issues',
    'contributing': 'https://github.com/deeppavlov/dialog_flow_framework/blob/master/CONTRIBUTING.md',
    'twitter': 'https://twitter.com/deeppavlov',
    'facebook': 'https://www.facebook.com/deepmipt',
    'discuss': 'https://t.me/DeepPavlovDreamDiscussions',
    'features': 'https://pytorch.org/features',
    'resources': 'https://pytorch.org/resources',
    'support': 'https://t.me/{DFFSupport}',
    'youtube': 'https://www.youtube.com/c/deeppavlov',
    'forums': 'https://forum.deeppavlov.ai/c/dff-is-a-dialog-flow-framework-it-is-an-open-source-framework-built-to-enable-scenario-driven-skills-chatbots-development/51'
} -%}
