/**
 * Final redaction
 **/

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #908D9C;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #908D9C;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .c, .highlight .cd {
  color: #908D9C;
  font-style: italic;
}

.highlight .err {
  color: #83808D;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #1A1A1A;
  background-color: #ffdddd;
}

.highlight .ge {
  color: #1A1A1A;
  font-style: italic;
}

.highlight .gr {
  color: #B80000;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: #1A1A1A;
  background-color: #ddffdd;
}

.highlight .go {
  color: #83808D;
}

.highlight .gp {
  color: #4F4D54;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #9D9AAA;
}

.highlight .gt {
  color: #B80000;
}

.highlight .kc {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .kd {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .kn {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .kp {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .kr {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .kt {
  color: #545478;
  font-weight: bold;
}

.highlight .k, .highlight .kv {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .mf {
  color: #00A385;
}

.highlight .mh {
  color: #00A385;
}

.highlight .il {
  color: #00A385;
}

.highlight .mi {
  color: #00A385;
}

.highlight .mo {
  color: #00A385;
}

.highlight .m, .highlight .mb, .highlight .mx {
  color: #00A385;
}

.highlight .sb {
  color: #DC2E76;
}

.highlight .sc {
  color: #DC2E76;
}

.highlight .sd {
  color: #DC2E76;
}

.highlight .s2 {
  color: #DC2E76;
}

.highlight .se {
  color: #DC2E76;
}

.highlight .sh {
  color: #DC2E76;
}

.highlight .si {
  color: #DC2E76;
}

.highlight .sx {
  color: #DC2E76;
}

.highlight .sr {
  color: #139052;
}

.highlight .s1 {
  color: #DC2E76;
}

.highlight .ss {
  color: #A71157;
}
.highlight .s {
  color: #DC2E76;
}

.highlight .na {
  color: #008F75;
}

.highlight .bp {
  color: #4F4D54;
}

.highlight .nb {
  color: #2B7EB6;
}

.highlight .nc {
  color: #545478;
  font-weight: bold;
}

.highlight .no {
  color: #008F75;
}

.highlight .nd {
  color: #526760;
  font-weight: bold;
}

.highlight .ni {
  color: #602E60;
}

.highlight .ne {
  color: #A30000;
  font-weight: bold;
}

.highlight .nf {
  color: #A30000;
  font-weight: bold;
}

.highlight .nl {
  color: #A30000;
  font-weight: bold;
}

.highlight .nn {
  color: #4F4D54;
}

.highlight .nt {
  color: #18007A;
}

.highlight .vc {
  color: #008F75;
}

.highlight .vg {
  color: #008F75;
}

.highlight .vi {
  color: #008F75;
}

.highlight .nv {
  color: #008F75;
}

.highlight .ow {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .o {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .n {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .p {
  color: #1A1A1A;
  font-weight: bold;
}

.highlight .w {
  color: #B7B3C6;
}

.highlight {
  background-color: #F0F0F3;
}
